<div class="section no-pad-bot">
  <div class="container">
    <br><br>
    <h1 class="header center teal-text text-lighten-2">{{ vm.title }}</h1>
    <div class="row center">
      <h5 class="header col s12 light">Press the button bellow to send a CSV file.</h5>

      <div
        class="btn btn-primary btn-upload"
        upload-button
        url="{{vm.uploadURL}}"
        data="mlPlan"
        accept=".csv"
        on-success="vm.onSuccessCSVUpload(response)"
        on-error="vm.onErrorCSVUpload(response)"
      >Upload a CSV File</div>
    </div>

    <div class="row">
      <div class="col s12 m6" ng-repeat="model in vm.models | orderBy: '-accuracy_score'">
        <div class="card hoverable">
          <div class="card-content lighten-1">
            <span class="card-title">{{model.name}}
              <!--span class="new badge" ng-class="model.accuracy_score >= 0.7 ? 'green' : 'red'" data-badge-caption="(accuracy score)">{{model.accuracy_score | number: 3}}</span-->
            </span>
            <div class="fixed-action-btn mlb-fixed-action-btn-in-card horizontal">
              <a class="btn-floating btn-large red">
                <i class="large material-icons">menu</i>
              </a>
              <ul>
                <li><a class="btn-floating red tooltipped" target="_blank"
                       data-position="bottom" data-delay="50" data-tooltip="Learn more about this model"
                       ng-href="{{model.references.url}}">
                  <i class="material-icons">format_quote</i>
                </a></li>
                <li><a class="btn-floating yellow tooltipped"
                       data-position="bottom" data-delay="50" data-tooltip="Download Code to Create Model (optional)"
                       ng-click="vm.downloadCreateModel(model)">
                  <i class="material-icons">attach_file</i>
                </a></li>
                <li><a class="btn-floating green tooltipped"
                       data-position="bottom" data-delay="50" data-tooltip="Download Code to Load/Use Model"
                       ng-click="vm.downloadLoadModel(model)">
                  <i class="material-icons">file_download</i>
                </a></li>
                <li><a class="btn-floating blue tooltipped" download
                       data-position="bottom" data-delay="50" data-tooltip="Download ML Model"
                       ng-href="{{model.downloadMLModel}}">
                  <i class="material-icons">extension</i>
                </a></li>
                <li><a class="btn-floating black tooltipped modal-trigger"
                       href="#modal1" ng-click="vm.chooseMLAlgorithm(model)"
                       data-position="bottom" data-delay="50" data-tooltip="Make a prediction now!">
                  <i class="material-icons">remove_red_eye</i>
                </a></li>
              </ul>
            </div>
          </div>
          <div class="card-content">
            <p>
              Accuracy score: {{model.accuracy_score | number: 3}}
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Make Predictions using {{vm.chosenMLAlgorithm.name}}!</h4>
    <p>Fill in all the fields below and make real-time predictions right now.</p>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6" ng-repeat="predictor in vm.chosenMLAlgorithm.predictors">
          <input id="first_name" type="text" ng-model="vm.chosenMLAlgorithm.predictors_values[$index]">
          <label for="first_name">{{predictor}}</label>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <a class="btn modal-action modal-close teal lighten-1"
    ng-click="vm.predict()">
      Predict!
    </a>
  </div>
</div>
